body {
  background-color: #232832;
  color: white;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-top: 80px;
  margin-left: 70px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-right: 160px;
  font-size: 26px;
  transition: color 0.3s ease;
}

#homeNav {
  font-size: 29px;
  margin-left: 84px;
  color: white;
  transition: color 0.3s ease;
}

#homeNav:hover {
  color: grey;
}

#about {
  color: white;
  transition: color 300ms ease;
}

#about:hover {
  color: grey;
}

#categories {
  color: white;
  transition: color 300ms ease;
}

#categories:hover {
  color: grey;
}

#articles {
  color: white;
  transition: color 300ms ease;
}

#articles:hover {
  color: grey;
}

#text1 {
  color: grey;
  transition: color ease 450ms;
}

#text1:hover {
  color: white;
}

#text2 {
  color: grey;
  transition: color ease 450ms;
}

#text2:hover {
  color: white;
}

#text3 {
  color: grey;
  transition: color ease 450ms;
}

#text3:hover {
  color: white;
}

#text4 {
  color: grey;
  transition: color ease 450ms;
}

#text4:hover {
  color: white;
}

#text5 {
  color: grey;
  transition: color ease 450ms;
}

#text5:hover {
  color: white;
}

#text6 {
  color: grey;
  transition: color ease 450ms;
}

#text6:hover {
  color: white;
}

#text7 {
  color: grey;
  transition: color ease 450ms;
}

#text7:hover {
  color: white;
}

#text8 {
  color: grey;
  transition: color ease 450ms;
}

#text8:hover {
  color: white;
}

#text9 {
  color: grey;
  transition: color ease 450ms;
}

#text9:hover {
  color: white;
}
